jupyter==1.0.0
notebook==7.2.0
great-expectations==0.18.22
pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
SQLAlchemy==2.0.40
ipykernel==6.29.4
black==25.1.0
pylint==3.3.6
pyyaml==6.0.2
jupyterhub==5.2.1
configurable-http-proxy==0.3.0